@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto&display=swap");
/* 
font-family: 'Henny Penny', cursive;
font-family: 'Pattaya', sans-serif;
font-family: 'Roboto', sans-serif; 
*/
ul {
  list-style-type: none;
}

ul li a:focus {
  outline: #0D0D0D dashed;
}

ul li a:active,
ul li a:hover {
  outline: none;
}

@media only screen and (max-width: 767.98px) {
  .navbar {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Pattaya', sans-serif;
    font-size: 2rem;
  }
  .navbar .hamburger {
    width: 100%;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 5px;
    background-image: linear-gradient(40deg, #8CBF3F, #F2CC0F, #9453A6);
    z-index: 2;
  }
  .navbar .hamburger img {
    height: 100%;
  }
  .navbar ul {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 50px;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar ul li {
    height: 100%;
    text-decoration: none;
    /* Menu Items */
    visibility: hidden;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, right top, from(#8CBF3F), color-stop(#9453A6), to(#F2CC0F));
    background-image: linear-gradient(90deg, #8CBF3F, #9453A6, #F2CC0F);
    border-bottom: 2px solid #0D0D0D;
    text-shadow: 2px 2px 3px #0D0D0D;
    margin-top: -50px;
    opacity: 0;
    z-index: 1;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-transition-duration: 350ms;
            transition-duration: 350ms;
    -webkit-transition-property: margin-top, opacity, visibility;
    transition-property: margin-top, opacity, visibility;
  }
  .navbar ul li:first-child {
    border-top: 2px solid #0D0D0D;
  }
  .navbar ul li a {
    display: block;
    text-decoration: none;
    font-size: 2rem;
    color: #F2CC0F;
  }
}

@media (min-width: 768px) {
  .navbar {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    font-family: 'Pattaya', sans-serif;
    font-size: 2rem;
  }
  .navbar .hamburger {
    display: none;
  }
  .navbar ul {
    width: 100%;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 20px;
    background-image: repeating-linear-gradient(90deg, #8CBF3F, #F2CC0F, #9453A6, #8CBF3F, #F2CC0F, #9453A6);
    -webkit-box-shadow: 2px 2px 5px #0D0D0D;
            box-shadow: 2px 2px 5px #0D0D0D;
  }
  .navbar ul li {
    height: 100%;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    /* Menu Items */
    border-left: 2px solid #9453A6;
    text-shadow: 2px 2px 3px #0D0D0D;
    -webkit-transition: text-shadow 250ms ease-in-out;
    transition: text-shadow 250ms ease-in-out;
  }
  .navbar ul li:first-child {
    border-left: 0;
  }
  .navbar ul li:hover {
    text-shadow: 5px 5px 4px #0D0D0D;
  }
  .navbar ul li a {
    display: block;
    text-decoration: none;
    font-size: 2rem;
    color: #F2CC0F;
  }
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  min-width: 320px;
  scroll-behavior: smooth;
}

body {
  color: #0D0D0D;
  background-color: #fdf8e5;
}

.container-fluid {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row {
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.col {
  min-width: 100%;
  margin: 20px 0;
}

h1 {
  font-family: 'Pattaya', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

header {
  text-align: center;
  padding: 10px;
}

header .logo {
  display: none;
}

header h1 {
  font-size: clamp(3rem, 8vw, 5rem);
  margin-bottom: -8px;
}

header h2 {
  font-size: clamp(1.5rem, 3vw, 3rem);
  font-family: 'Henny Penny', cursive;
}

.top_header {
  text-align: center;
  margin-top: 30px;
}

.top_header h1 {
  font-size: clamp(2rem, 8vw, 3rem);
}

.top_header h2 {
  font-size: clamp(1.6rem, 8vw, 2.5rem);
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}

.mardi_hr, .mardi_hr_small {
  margin: 0 auto;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(#8CBF3F), color-stop(#F2CC0F), to(#9453A6));
  background-image: linear-gradient(90deg, #8CBF3F, #F2CC0F, #9453A6);
}

.mardi_hr_small {
  width: 70%;
}

footer {
  width: 100%;
  margin-bottom: 20px;
  z-index: 3;
}

footer .backToTop {
  width: 100%;
  margin: 0 auto;
  margin-top: 10vh;
  text-align: center;
}

footer .backToTop button {
  width: 70vw;
  border: 2px solid #000;
  -o-border-image: linear-gradient(0deg, #8CBF3F, #F2CC0F, #9453A6) 2;
     border-image: -webkit-gradient(linear, left bottom, left top, from(#8CBF3F), color-stop(#F2CC0F), to(#9453A6)) 2;
     border-image: linear-gradient(0deg, #8CBF3F, #F2CC0F, #9453A6) 2;
  background-color: #F2F2F2;
  -webkit-box-shadow: 2px 2px 3px #0D0D0D;
          box-shadow: 2px 2px 3px #0D0D0D;
  outline: none;
}

footer .backToTop button a {
  display: block;
  width: 100%;
  text-decoration: none;
  font-family: 'Pattaya', sans-serif;
  font-size: 2rem;
  color: #9453A6;
}

footer .mardi_hr, footer .mardi_hr_small {
  margin-top: 100px;
}

footer .social_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: -20px;
}

footer .social_icons img {
  cursor: pointer;
  height: 40px;
  background-color: #8CBF3F;
  border-radius: 50%;
  z-index: 2;
  -webkit-box-shadow: 0 0 5px 5px #F2F2F2;
          box-shadow: 0 0 5px 5px #F2F2F2;
  -webkit-transition: -webkit-box-shadow 250ms ease-out;
  transition: -webkit-box-shadow 250ms ease-out;
  transition: box-shadow 250ms ease-out;
  transition: box-shadow 250ms ease-out, -webkit-box-shadow 250ms ease-out;
}

footer .social_icons img:hover {
  -webkit-box-shadow: 0 0 20px #0D0D0D;
          box-shadow: 0 0 20px #0D0D0D;
}

footer .attribution {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 100px;
  font-size: 0.6rem;
  letter-spacing: 1px;
}

footer .attribution .creator {
  font-size: 1rem;
  margin-bottom: 5px;
}

@media only screen and (min-width: 768px) {
  header {
    position: relative;
  }
  header .logo {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
  }
  .top_header hr {
    width: 25%;
  }
  footer {
    width: 70%;
    margin: 0 auto;
  }
  footer .backToTop button {
    width: 30vw;
  }
  footer .social_icons {
    margin-top: -25px;
  }
  footer .social_icons img {
    height: 50px;
  }
}

.main_content #triviaContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_content #triviaContent div {
  width: 90%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  border: 1px solid #8CBF3F;
  background-color: #F2F2F2;
  margin-top: 20vw;
  -webkit-box-shadow: 2px 2px 5px #0D0D0D;
          box-shadow: 2px 2px 5px #0D0D0D;
}

.main_content #triviaContent div h3 {
  margin: 0 auto;
  margin-top: -5vw;
  margin-bottom: 5vw;
  width: 80%;
  padding: 2vw;
  font-family: 'Pattaya', sans-serif;
  font-size: 6vw;
  -webkit-box-shadow: 1px 1px 4px #0D0D0D;
          box-shadow: 1px 1px 4px #0D0D0D;
  text-align: center;
  border: 1px solid #000;
  -o-border-image: linear-gradient(0deg, #8CBF3F, #F2CC0F, #9453A6) 2;
     border-image: -webkit-gradient(linear, left bottom, left top, from(#8CBF3F), color-stop(#F2CC0F), to(#9453A6)) 2;
     border-image: linear-gradient(0deg, #8CBF3F, #F2CC0F, #9453A6) 2;
  color: #9453A6;
  background-color: #F2F2F2;
}

.main_content #triviaContent div input {
  position: relative;
  font-size: 5.5vw;
  left: 8.2vw;
  height: 4vw;
  opacity: 0;
}

.main_content #triviaContent div input:checked + label:before {
  content: "◉ ";
}

.main_content #triviaContent div label {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 5.5vw;
  margin-left: 5%;
  color: #0D0D0D;
}

.main_content #triviaContent div label:before {
  content: "◎ ";
}

.main_content #triviaContent div label.answered:before {
  content: "";
}

.main_content #triviaContent div label.correctAnswer {
  color: green;
}

.main_content #triviaContent div label.correctAnswer:before {
  content: "✔ ";
}

.main_content #triviaContent div label.incorrectAnswer {
  color: crimson;
}

.main_content #triviaContent div label.incorrectAnswer:before {
  content: "✘ ";
}

.main_content #triviaContent #triviaCheck {
  width: 90%;
  min-height: 40px;
  margin: auto;
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  outline: none;
  border-radius: 10px;
  border: 2px solid #9453A6;
  background-color: #8fcc32;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.main_content #triviaContent #triviaCheck:hover {
  background-color: #99fe00;
}

@media only screen and (min-width: 768px) {
  .main_content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 50% auto;
        grid-template-columns: auto 50% auto;
  }
  .main_content .col {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .main_content #triviaContent div {
    margin: 2.2vw;
  }
  .main_content #triviaContent div h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    margin-top: -3vw;
    padding: 20px;
  }
  .main_content #triviaContent div input {
    position: relative;
    left: 3vw;
    height: 1vw;
  }
  .main_content #triviaContent div label {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=trivia.css.map */